.department {
	position: relative;
	margin: 0 auto;
	min-height: 60%;
	margin-top: 20px;
	margin-bottom: 30px;
	width: 90%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.4fr 1.6fr;
	justify-items: start;
	&__title {
		font-weight: 400;
		font-size: 20px;
		width: 100%;
		margin-bottom: 40px;
	}
	&__employees {
		width: 100%;
		padding-bottom: 30px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;
		align-items: start;
		justify-items: center;
		&_employee {
			width: 100%;
			height: 100%;
		}
	}
}
